  table, th, td {
  border:1px solid black;
}
td {
  text-align: center;
}
  body {
  background-color: rebeccapurple;
  color: white;
}
  h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}